@using HalloDal.Models.Content
@using Hallo.ViewModels
@model List<ImageViewModel>

<h2>Artikelbilleder</h2>
@using (Html.BeginForm()) {
    <table style="text-align: center;">
        <tr>
            @Html.EditorFor(m => m)
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right;">
                <input type="submit" value="Gem rækkefølge og tekster" class="k-button" />
            </td>
        </tr>
    </table>   
}

<form method="post" action="@Url.Action("UploadImages")">
    Vælg filer: @Html.Kendo().Upload().Name("files")
    <input type="submit" class="k-button" value="Upload billeder" />
</form>

<div>
    @Html.ActionLink("Tilbage til artiklen", "Edit", "Article", new { id = ViewBag.ArticleId }, null)
</div>

<script>
    function toggleUp(index) {
        toggle(index - 1, index);
    }

    function toggleDown(index) {
        toggle(index, index + 1);
    }

    function toggle( index1, index2 ) {
        var Id1 = $("#hiddenId" + index1);
        var Id2 = $("#hiddenId" + index2);
        var tempId = Id1.val();
        Id1.val(Id2.val());
        Id2.val(tempId);

        var Img1 = $("#img" + index1);
        var Img2 = $("#img" + index2);
        var tempImg = Img1.attr('src');
        Img1.attr('src', Img2.attr('src'));
        Img2.attr('src', tempImg);

        var Desc1 = $("#description" + index1);
        var Desc2 = $("#description" + index2);
        var tempDesc = Desc1.val();
        Desc1.val(Desc2.val());
        Desc2.val(tempDesc);
    }
</script>
