

<style>
    .slideShow {
        position: relative;
        overflow: auto;
    }

        .slideShow li {
            list-style: none;
        }

        .slideShow ul li {
            float: left;
        }
</style>



@if (Model.Images.Count > 0) {
    <div class="slideShow">
        <ul>
            @foreach (Image i in iList) { 
                <li>
                    <img src="@ImageFinder.GetImageUrl(i)" />
                    <br />@i.Description<br />
                </li>
            }
        </ul>
    </div>
    <a href="#slideShow" class="unslider-arrow prev">Tidligere billede</a>
    <a href="#slideShow" class="unslider-arrow next">Næste billede</a>
}

<script>
    $(function () {
        $('.slideShow').unslider();
    });

    $('.unslider-arrow').click(function () {
        var unslider = $(".slideShow").unslider();

        var fn = this.className.split(' ')[1];
        unslider.data('unslider').stop();

        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        if (fn == 'next')
            unslider.data('unslider').next();
        else
            unslider.data('unslider').prev();
    });
</script>

