<div class="fpBox">
    Gavebidrag indb. til:<br />
    Danske Bank<br />
    Reg. 9543<br />
    Kontonr. 2855648906<br />
    Husk at oplyse navn
    <br />
    (mht. skattefradrag)
</div>
