<div style="padding-top: 20px;" class="hidden-xs">
    <div class="k-block" style="width: 100%;">
        <b>Kontonumre:</b>
        <br />
        <br />
        Gavebidrag:<br/> 9106 0003095096<br/><br />
        Ture & arrangementer:<br /> 9106 0003227790
    </div>
</div>
<div style="padding-top: 20px;" class="hidden-xs">
    <div class="k-block" style="width: 100%;">
        <b>Redaktion:</b>
        <br />
        <br />
        <a href="mailto:bkmholstebro@gmail.com">Louise Nielsen</a>
    </div>
</div>
