@using Hallo
<div class="fpBox">
    <b>Redaktion:</b> <a href="mailto:connie@reuss.dk">connie@reuss.dk</a>
    <br />
    <br />
    <b>Teknik:</b> <a style="font: 7pt Verdana,Tahoma,Arial;" href="mailto:@Constant.webmasterMail" runat="server">@Constant.webmasterMail</a>
</div>
