<div style="padding-top: 20px;">
    <div class="k-block" style="width: 100%;">
        <b>Redaktion:</b>
        <br />
        <br />
        <a href="mailto:bkmholstebro@gmail.com">Louise Nielsen</a>
    </div>
</div>
