@using Hallo
<div class="fpBox">
    <b>Redaktion:</b>
    <br />
    <br />
    <a href="mailto:louise.krarup88@gmail.com">Louise Nielsen</a>
    @*<br />
    <br />
    <b>Teknik:</b> <a style="font: 7pt Verdana,Tahoma,Arial;" href="mailto:@Constant.WebmasterMail" runat="server">@Constant.WebmasterMail</a>*@
</div>
