@using Hallo
<div class="fpBox">
    <b>Redaktion:</b><br/><a href="mailto:redaktion@hkonline.dk">Anita Clausen</a>
    <br />
    <br />
    <b>Teknik:</b> <a style="font: 7pt Verdana,Tahoma,Arial;" href="mailto:@Constant.WebmasterMail" runat="server">@Constant.WebmasterMail</a>
</div>
