<div class="fpBox" style="margin-bottom: 0px;">Vigtige links</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://bmm.brunstadworld.org')">Mediaportalen</div>
<!--<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://dgk.brunstadworld.org')">Den Gode Kilde</div>-->
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://www.ssfnett.no/')">SSFNett</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('https://ers.brunstad.org/')">ERS Stævnetilmelding</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://uk.hkonline.dk/')">UK Bloggen</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://guide.brunstad.tv/')">BrunstadTV Guide (ny)</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://bwwapp20.brunstadworld.org/?id=51')">Aktivitetsweb</div>
<div class="menupkt" onmouseover="ev_hov(this);" onmouseout="ev_out(this)" onclick="window.open('http://www.dagseminarer.dk/')"
    style="border-bottom-style: solid; border-bottom-width: thin;">
    <img src="../images/VFKClogo128.png" alt="" />
</div>

