<div id="weekcalendar"></div>

<script type="text/javascript"
    src="http://widgets.brunstad.org/calendar/WeekJs?Culture=nb-NO&ContainerId=weekcalendar&Calendars=brunstad_calendar_no,holstebro_calendar&FullCalendarURL=/kalendar.aspx&Days=7&CSSNameSpace=Hallo">
</script>

<script>
    $(".timeend").hide();
    $(".timedash").hide();
    $(".Hallobutton").hide();
</script>
