@using HalloDal.Models.Content;
@model List<Message>

<div class="fpBox" style="text-align: center; margin-bottom: 0px; margin-top: 0px;">- Sidste Nyt -</div>

@foreach (Message info in Model) { 
    <div class="menupkt" 
        style="border-bottom: solid thin;" 
        onmouseover=ev_hov(this); 
        onmouseout=ev_out(this);>@info.Headline</div>
}

