<h2>Streaming</h2>
<br />
<br />
<br />
<div style="text-align: center;">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="620" height="300">
        <param name="movie" value="http://87.56.108.63:88/nchflashplayer.swf" />
        <param name="quality" value="best" />
        <param name="FlashVars" value="width=62&amp;streammode=1&amp;mp3=http://87.56.108.63:88/broadwavelow.mp3?src=1" />
        <embed src="http://87.56.108.63:88/nchflashplayer.swf" flashvars="width=62&amp;streammode=1&amp;mp3=http://87.56.108.63:88/broadwavelow.mp3?src=1" width="62" height="30" quality="best" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
    </object>
</div>
