@using HalloDal.Models.Users

@model HalloDal.Models.Users.UserGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Slet @(Model.GroupType == GroupType.SmsGroup ? "SMS-gruppe":"AK Hold")</h2>

<h3>Er du sikker på at du vil slette @Model.GroupName ?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input class="k-button" type="submit" value="Slet" /> <br /><br />
        @Html.ActionLink("Tilbage til listen", Model.GroupType == GroupType.SmsGroup ? "Index" : "ACIndex")
    </p>
}
