<div style="text-align: center;">
    <iframe
        src="https://www.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=m4m2ppqd14fo3325d1v6tri18s%40group.calendar.google.com&amp;color=%232F6213&amp;src=638tkqlujv6q9t791guap9vb94%40group.calendar.google.com&amp;color=%23711616&amp;src=0sf7jdo6j3bnqljes0mg2hfqac%40group.calendar.google.com&amp;color=%23182C57&amp;src=da.danish%23holiday%40group.v.calendar.google.com&amp;color=%23AB8B00&amp;src=e_2_en%23weeknum%40group.v.calendar.google.com&amp;color=%231B887A&amp;ctz=Europe%2FCopenhagen"
        style="border-width: 0; border-width: 0;"
        width="750" height="600"
        scrolling="no"></iframe>
</div>
