@using Hallo.ViewModels;
@model List<HKMenuItem>

<div class="fpBox" style="padding: 0px 0px 0px 0px; width: 134px;">
    
    @foreach (HKMenuItem item in Model) { 
        <a href="@item.Url">@item.Text</a>
    }

</div>
